<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923853441015-g2j0pvs1vu2lgmf8fctsbeetekn1afei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923853441015-g2j0pvs1vu2lgmf8fctsbeetekn1afei</string>
	<key>API_KEY</key>
	<string>AIzaSyBhSBJ_52A2KA5keK4-KdSi6kWh1VUy1Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>923853441015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sailalithkanumuri.GoogleSigninPage</string>
	<key>PROJECT_ID</key>
	<string>signinpage-401a8</string>
	<key>STORAGE_BUCKET</key>
	<string>signinpage-401a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923853441015:ios:d0ad7c6f510bb9822a90f2</string>
</dict>
</plist>
